h2{
    color: brown;
font-size: 35px;
text-shadow: 6px 3px 6px rgba(0,0,0,0.6);
font-family: 'Alkatra', cursive;
font-family: 'Roboto', sans-serif;

}

h1{

background-color: bisque;/*pinta fondo*/
text-align: center;/*alinear fondo*/
text-shadow: 2px 2px 2px rgba(0,0,0,0.6);

}

.Destacado{
color: rgb(116, 183, 109);
font-weight: bold;
font-style: italic;
font-family: 'Roboto', sans-serif;



}


#caja{


    background: #3b00ff;
background: linear-gradient(64deg,#795fce 0%, #595858 80%);
background: -webkit-linear-gradient(64deg,#6f54c9 0%, #595858 80%);
background: -moz-linear-gradient(64deg,#4b378b 0%, #595858 80%);
    width: 350px;
    padding: 10px;
    height: 150px;
    box-shadow: 5px 4px 9px 0px rgba(0,0,0,0.75);
    border-radius: 3px 32px 32px 0px;
-webkit-border-radius: 3px 32px 32px 0px;
-moz-border-radius: 3px 32px 32px 0px;
font-family: 'Roboto', sans-serif;
}